@{
    ViewData["Title"] = "Chem's site";
    ViewData["Description"] = "An awesome derg's personal site.";
    ViewData["Url"] = "/";
    ViewData["Image"] = "/art/Chem/art/20211231_-_Kitten_drago_chem - ShiraHoshiD.png";
}

<div>
    <label for="18plus">
        18+ mode
    </label>
    <input id="18plus" type="checkbox" onchange="change()" />
</div>

<a href="/gallery">Gallery</a>
<a href="/nsfwgallery" class="nsfw hidden">Gallery (NSFW)</a>

<script>
    function setGalleryVisible(visible) {
        localStorage.setItem("NSFW", visible ? "true" : "false");
        const els = document.getElementsByClassName("nsfw");
        for (let i = 0; i < els.length; i++) {
            const el = els[i];
            if (visible) {
                el.classList.remove("hidden");
            }
            else {
                el.classList.add("hidden");
            }
        }
    }

    function change() {
        const input = document.getElementById("18plus");
        setGalleryVisible(input.checked);
    }

    const visible = localStorage.getItem("NSFW") == "true";
    const input = document.getElementById("18plus");
    input.checked = visible;
    setGalleryVisible(visible);
</script>
