:root {
    color-scheme: dark;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 10px;
}

a {
    text-decoration: none;
}

.image-detail {
    margin-top: 10px;
    max-height: calc(100vh - 40px);
    max-width: 100%;
    text-align: center;
}

.image-detail img {
    margin-top: 10px;
    max-height: calc(100vh - 40px);
    max-width: 100%;
}

img[alt="nsfw"], img[alt="kinky"] {
    filter: blur(10px);
    overflow: hidden;
}
